@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@font-face {
    font-family: Gumela, sans-serif;
    src: url(./fonts/Gumela.ttf);
}

/* Font: font-family: 'Convergence', sans-serif; */
/* Font: font-family: 'Fira Code', monospace; */
/* Font: font-family: 'Work Sans', sans-serif; */
/* Font: font-family:  Gumela,sans-serif;  */

/* cricket Transition Style */

/* .battlefield {
    width: 992px;
    border: 1px solid darkred;
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    position: relative;
    left: 385px;
    bottom: 60px;
    transition: transform 0.7s ease-out 0.5s;
}
.bat {
    transition: transform 0.5s ease-in;
}
.battlefield:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top bottom;
}
.battlefield:hover .ball {
    transform: translate(650px, -200px);
} */

/* End Of Cricket Transition Style */



/* Create Calender Using Grid Layout */





























































































































